In [125]:
## Notebook for Transforming raw data into Mergable data

In [126]:
import pandas as pd

In [127]:
crop_data_path = "../Data-raw/cpdata.csv"
fertilizer_data_path = "../Data-raw/Fertilizer.csv"

crop = pd.read_csv(crop_data_path)
fert = pd.read_csv(fertilizer_data_path)

In [128]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [129]:
del fert['Unnamed: 0']
fert.head()

               Crop   N   P   K   pH
0              Rice  80  40  40  5.5
1    Jowar(Sorghum)  80  40  40  5.5
2       Barley(JAV)  70  40  45  5.5
3             Maize  80  40  20  5.5
4  Ragi( naachnnii)  50  40  20  5.5

In [130]:
#Function for lowering the case
def change_case(i):
    i = i.replace(" ", "")
    i = i.lower()
    return i

fert['Crop'] = fert['Crop'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [131]:
fert['Crop'] = fert['Crop'].replace('mungbeans','mungbean')
fert['Crop'] = fert['Crop'].replace('lentils(masoordal)','lentil')
fert['Crop'] = fert['Crop'].replace('pigeonpeas(toordal)','pigeonpeas')
fert['Crop'] = fert['Crop'].replace('mothbean(matki)','mothbeans')
fert['Crop'] = fert['Crop'].replace('chickpeas(channa)','chickpea')

fert['Crop']

0                  rice
1        jowar(sorghum)
2           barley(jav)
3                 maize
4       ragi(naachnnii)
             ...
1838         lemongrass
1839             cotton
1840               jute
1841             coffee
1842          sunflower
Name: Crop, Length: 1843, dtype: object

In [132]:
crop_names = crop['label'].unique()
crop_names

array(['rice', 'wheat', 'mungbean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'cotton', 'groundnut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidneybeans', 'mothbeans', 'coconut',
       'blackgram', 'adzukibeans', 'pigeonpeas', 'chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [133]:
crop_names_from_fert = fert['Crop'].unique()
crop_names_from_fert

array(['rice', 'jowar(sorghum)', 'barley(jav)', 'maize',
       'ragi(naachnnii)', 'chickpea', 'frenchbeans(farasbi)',
       'favabeans(papdi-val)', 'limabeans(pavta)', 'clusterbeans(gavar)',
       'soyabean', 'blackeyedbeans(chawli)', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'greenpeas', 'horsegram(kulthi)',
       'blackgram', 'rapeseed(mohri)', 'corianderseeds', 'mustardseeds',
       'sesameseed', 'cuminseeds', 'lentil', 'brinjal', 'beetroot',
       'bittergourd', 'bottlegourd', 'capsicum', 'cabbage', 'carrot',
       'cauliflower', 'cucumber', 'corianderleaves', 'curryleaves',
       'drumstickâ€“moringa', 'chili', 'ladyfinger', 'mushroom', 'onion',
       'potato', 'pumpkin', 'radish', 'olive', 'sweetpotato',
       'fenugreekleaf(methi)', 'spinach', 'ridgegourd',
       'gooseberry(amla)', 'jambun(syzygiumcumini)',
       'ziziphusmauritiana(bor)', 'garciniaindica(kokam)', 'tamarind',
       'tapioca(suran)', 'garlic', 'lemon', 'tomato', 'ashgourd',
       'pineapple', 'pomegranate', 'banana', 'mango', 'grapes',
       'jackfruit', 'guava', 'watermelon', 'muskmelon', 'apricot',
       'apple', 'chickoo', 'custardapple', 'dates', 'figs', 'orange',
       'papaya', 'aniseed', 'asafoetida', 'bayleaf', 'blackpepper',
       'cardamom', 'cinnamon', 'cloves', 'jaiphal(nutmeg)', 'ginger',
       'turmeric', 'cashewnuts', 'raisins', 'coconut', 'almondnut',
       'arecanut', 'pistachionut', 'lemongrass', 'cotton', 'jute',
       'coffee', 'sunflower'], dtype=object)

In [134]:
extract_labels = []
for i in crop_names_from_fert:
    if i in crop_names:
        extract_labels.append(i)
len(extract_labels)

22

In [135]:
# using extract labesl on crop to get all the data related to those labels
new_crop = pd.DataFrame(columns = crop.columns)
new_crop

Empty DataFrame
Columns: [temperature, humidity, ph, rainfall, label]
Index: []

In [136]:
# using extract labesl on fert to get all the data related to those labels
new_fert = pd.DataFrame(columns = fert.columns)
new_fert

Empty DataFrame
Columns: [Crop, N, P, K, pH]
Index: []

In [137]:
for label in extract_labels:
    new_crop = pd.concat([new_crop,crop[crop['label'] == label]],ignore_index= True)

In [138]:
fert.head()

              Crop   N   P   K   pH
0             rice  80  40  40  5.5
1   jowar(sorghum)  80  40  40  5.5
2      barley(jav)  70  40  45  5.5
3            maize  80  40  20  5.5
4  ragi(naachnnii)  50  40  20  5.5

In [139]:
for label in extract_labels:

    new_fert = pd.concat([fert[fert['Crop'] == label],new_fert],sort=True,ignore_index= False)
    
len(new_fert)

418

In [140]:
new_crop.to_csv('../Data-raw/MergeFileCrop.csv')
new_fert.to_csv('../Data-raw/FertilizerData.csv')